<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">  

      <h2>Regístrate</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, utocomplete: "on", :class => 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.submit "Confirmar", :class => 'form-control' %>
        </div>

      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>  