<%= form_for(@pint) do |f| %>
  <% if @pint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pint.errors.count, "error") %> prohibited this pint from being saved:</h2>

      <ul>
      <% @pint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
