<div class="imagen thumbnail">
	<div class="img">
		<p>
			<%= @pint.title %>
			<%= link_to image_tag(@pint.image, :height => "50%", :width => "50%") %>
		</p>
			<%= link_to 'Edit', edit_pint_path(@pint) %> |
			<%= link_to 'Back', pints_path %>
	</div>

	<div class="img">
		<p>
			<strong>Description:</strong>
			<%= @pint.description %>
		</p>
	</div>

</div>