<div class="item">

    <div class="tag thumbnail">
        <%= link_to image_tag(pint.image, width: 280), pint, title: pint.title %>
    </div>

  	 <div class="item-content">
    	<div class="informacion thumbnail">
    		<div>
    			<div>
    				<span>Personaje: </span><%= pint.title %> 
    			</div>
    			<div>
    				<span>Juego: </span><%= pint.description %>		
    			</div>	
    			<div>
    				<span>Upload: </span><%= I18n.l pint.created_at, format: :short %>
    			</div>    			
    		</div>
	      	<div>
	      		<%= link_to 'Show', pint %>
	        	<%= link_to 'Edit', edit_pint_path(pint) %>
	        	<%= link_to 'Destroy', pint, method: :delete, data: { confirm: '¿Estás seguro?' } %>
	        	<%= link_to 'New Pint', new_pint_path %>
	      	</div>

    	</div>
    </div>

</div>
